.WelcomeDivStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.FlexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content:  flex-start;
  height: 100vh;
}

.environment-data {
  margin-top: 90% !important; //default chakra styles, because of the data on top!
}