@import "./styles/UnknownPath.scss";
@import "./styles/WebshopStyles.scss";
@import "./styles/NavbarStyles.scss";

.welcome-div-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content:  flex-start;
  height: 100vh;
}

.environment-data {
  margin-top: 90% !important; //default chakra styles, because of the data on top!
}